@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This MVC Web Application was developed for the specific (and, intentionally, exclusive) use of Bean Scene Restaurant 
    staff members. If you are not an employee of Bean Scene (or a developer employed by Gelos Enterprises that has been 
    specifically assigned to this project), then please <b>refrain from using this application.</b> Given that this application 
    is based on an open-source architecture and may be released as an open source project, this notice does not prohibit you 
    from using the application <b>if you only intend to observe and not modify it.</b>
</p>
